body{
    text-align: center;
    background-color: black;
}
#div{
    height: 250px;
    width: 250px;
    display: inline-block;
    margin: auto;
}
#one button{
    height: 50px;
    width: 50px;
}